# Ignore virtual environment
genaisum/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# VSCode or PyCharm folders (if used)
.vscode/
.idea/

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# Environment files backup
.env
*.env
